/* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */
/* Exo thin font from Google. */
@import url(https://fonts.googleapis.com/css?family=Exo:100);
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@-moz-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@-o-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@-webkit-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@-moz-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@-o-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
/* Main styles */
body {
    /*color: rgb(20,20,20);*/
    font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    text-align: center;
    /* img size is 50x50 */
    background: url("img/tile.png") repeat 0 0;
    background-attachment: fixed;
    -webkit-animation: bg-scrolling-reverse 3s infinite;
    /* Safari 4+ */
    -moz-animation: bg-scrolling-reverse 3s infinite;
    /* Fx 5+ */
    -o-animation: bg-scrolling-reverse 3s infinite;
    /* Opera 12+ */
    animation: bg-scrolling-reverse 5s infinite;
    /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    overflow-x: hidden;
}


.titleframe {
    background-size: cover;
    background-image: url('img/title.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(200,0,0,0.8);
    background-blend-mode: multiply;
    margin: 100px;
    margin-left: 20vw;
    margin-right: 20vw;
    border-radius: 10px;
    filter: drop-shadow(0px 10px 5px);
}


.maintitle {
    text-align: center;
    font-family: 'Dosis';
    font-weight: 500;
    color: white;
    font-size: 100px;
    margin-bottom: 0px;
    filter: drop-shadow(0px 0px 3px black);
}

.cattitle {
    text-align: left;
    font-family: 'Dosis';
    font-weight: 500;
    color: white;
    font-size: 50px;
    margin: 0px;
    padding-left: 100px;
    padding-top: 10px;
    filter: drop-shadow(0px 0px 5px black);
}

p {
    font-family: 'Dosis';
    font-weight: 500;
    color: white;
    text-align: left;
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
    filter: drop-shadow(0px 0px 5px black);
}

.maintext em{
    font-size: 40px;
    color: yellow;
}

.top3 em{
    color: yellow;
}

.section {
    padding: 10px;
    margin: 150px;
    margin-top: 150px;
    border-radius: 15px;
    filter: drop-shadow(0px 10px 5px);
}

.left {
    margin-left: -50px;
    padding-left: 200px;
}

.right {
    margin-right: -50px;
    padding-right: 200px;
}

.top {
    margin-top: -50px;
    padding-top: 50px;
}

.bottom {
    margin-bottom: -50px;
    padding-bottom: 50px;
}

.playtime {
    background-size: cover;
    background-image: url('img/playtime.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #8f8b1f;
    background-blend-mode: multiply;
}

.userinput {
    text-align: center;
}

.usernameinputbox{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #f7ea36;
    color: black;
    font-family: 'Dosis';
    font-weight: 500;
    border-radius: 20px;
    width: 400px;
}

.usernameinputbox:hover{
    background-color: #c9bf28;
}

.usernamebutton{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #f7ea36;
    color: black;
    font-family: 'Dosis';
    font-weight: 500;
    border-radius: 20px;
}

.usernamebutton:hover{
    background-color: #c9bf28;
}

.distance {
    background-size: cover;
    background-image: url('img/distance.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #206317;
    background-blend-mode: multiply;
}

.combat {
    background-size: cover;
    background-image: url('img/combat.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1f848f;
    background-blend-mode: multiply;
}

.construction {
    background-size: cover;
    background-image: url('img/construction.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #381f8f;
    background-blend-mode: multiply;
}

.economy {
    background-size: cover;
    background-image: url('img/economy.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #8f1f8d;
    background-blend-mode: multiply;
}

.username {
    background-size: cover;
    background-image: url('img/username.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #a19823;
    background-blend-mode: multiply;
    padding-top: 50px;
    margin-left: 25vw;
    margin-right: 25vw;
}

.conclusion {
    margin-top: 20%;
    margin-bottom: 20%;
    background-size: cover;
    background-image: url('img/conclusion.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #8f1f53;
    background-blend-mode: multiply;
}

.complaint{
    text-align: center;
    padding-bottom: 10px;
    color: rgb(86, 121, 151);
    font-family: 'Dosis';
    font-weight: 500;
    font-size: 10px;
}

@media (max-width: 800px) {
    p {
        font-family: 'Dosis';
        font-weight: 500;
        color: white;
        text-align: left;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
        filter: drop-shadow(0px 0px 5px black);
    }

    .cattitle {
        padding-left: 10px;
    }

    .section {
        padding: 10px;
        margin: 10px;
        margin-top: 150px;
        border-radius: 10px;
        filter: drop-shadow(0px 10px 5px);
    }

    .titleframe {
        background-size: cover;
        background-image: url('img/title.png');
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba(200,0,0,0.8);
        background-blend-mode: multiply;
        margin: 10px;
        border-radius: 10px;
        filter: drop-shadow(0px 10px 5px);
    }

    .maintitle {
        text-align: center;
        font-family: 'Dosis';
        font-weight: 500;
        color: white;
        font-size: 60px;
        margin-bottom: 0px;
        filter: drop-shadow(0px 0px 3px black);
    }

    .conclusion {
        margin-bottom: 100px;
    }

    .cattitle {
        font-size: 40px;
    }

    .maintext em{
        font-size: 30px;
        color: yellow;
    }

    .usernameinputbox {
        width: 75vw;
    }
}





@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgba(58, 58, 58, 0.25);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 30em;
    animation: wave 100s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -10.25em;
    animation: wave 180s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -20.5em;
    animation: wave 200s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}
